body {
    background-color: black;
    display: flex;
    flex-direction: column;
}
header {
    background-color: #1F2937;
    width: 35em;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-bottom: 25px;
}
/*
.header-logo-nav-bar {
    display: flex;
   
}*/
.header-main {
    font-size: .65rem;
    font-family: Bebas Neue;
    color: #F9FAF8;
    margin-left: 6em;
    padding-top: 5px;
    width: 40%;
    order: 1;
}

nav {
    font-size: .75rem;
    font-family: Roboto Bold;
    color: #F9FAF8;
    width: 40%;
    order: 2;
    margin-right: 4em;
}

ul {
    display: flex;
    flex-direction: row;
}

li {
    list-style-type: none;
    padding: 5px;
}

.nav-link {
    color:#ffffff;
    text-decoration: none;
}

.nav-link:active {
    color:#3882F6;
}

.calltoaction {
    width: 40%;
    order: 3;
    margin-left: 4em;
}

h3 {
    font-size: 1rem;
    font-family: Roboto Bold;
    color: #F9FAF8;
    margin-bottom: 0;
    width: 45%;
   
}

.header-class-three {
    font-size: .50rem;
    font-family: Roboto;
    color: #F9FAF8;
    width: 75%;
}

.header-button {
    font-family: Roboto Bold;
    font-size: .45rem;
    color: #ffffff;
    background-color: #3882F6;
    border-style: none;
    border-radius: 5px;
    padding: .25rem 1rem .25rem 1rem;
}

.header-image {
    width: 48%;
    order: 4;
    margin-top: 1em;
}


/* Start Main Content*/
main {
    background-color: #ffffff;
    font-family: Roboto;
    font-size: .60rem;
    width: 58em;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    
}

.main-title {
    font-family: Roboto Bold;
    align-content: center;
    font-size: 1.5rem;
    font-family: Bebas Neue;
    width: 100%;

}

.main-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 3em;
    width: 100%;
}
.main-content-one + .main-content-two + .main-content-three + .main-content-four {
}

.main-content-all {
}
 .main-img-all {
    border-style: solid;
    border-color: #3882F6;
    border-radius: 5px;
   
}
.main-content-one {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    width: 20%;
}
.main-content-two {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    width: 20%;
}
.main-content-three {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    width: 20%;
}
.main-content-four {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    width: 20%;
}

.main-fig {
    
    text-align: center;
    font-size: .50rem;
    font-family: Roboto;
    width: 60%;
}



figure {
    background-color: #E5E7EB;
    font-family: Roboto;
    width: 30.8em;
    margin: auto;
    padding: 2em;

}

figcaption {
    font-family: Roboto Bold;
}

aside {
    background-color: #ffffff;
    padding: 20px;
    width: 32.3em;
    margin: auto;
}

.aside-box {
    background-color: #3882F6;
    border-radius: 5px;
    width: 20em;
   
}

.aside-button {
    font-family: Roboto Bold;
    font-size: .75rem;
    color: #ffffff;
    background-color: #3882F6;
    border-style: solid;
    border-radius: 3px;
    border-color: #ffffff;
    padding: .35rem 1.5rem .35rem 1.5rem;
}

footer {
    font-family: Roboto;
    color: #F9FAF8;
    background-color: #1F2937;
    padding: 5px;
    text-align: center;
    width: 34.3em;
    margin: auto;
}

