body {
    margin: auto;
    width: 100%;
    background-color: black;
}
/*Style for Nav and Header Below. */
nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: rgb(25, 45, 70);
    padding-bottom: 15px;
    width: 75%;
    margin: auto;
}

.nav-title {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    font-size: 10px;
}

ul {
    display: flex;
    flex-direction: row;
    margin-left: 60px;
}

li {
    list-style: none;
    font-family: Roboto;
    font-size: 7px;
    margin-left: 15px;
}


.nav-link {
    text-decoration: none;
    color: rgb(229, 226, 226);
}

header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: rgb(25, 45, 70);
    height: 150px;
    width: 75%;
    margin: auto;
}

.header-box {
    display: flex;
    flex-direction: column;
    margin-left: 100px;
    margin-top: 1px;
    width: 165px;
    height: 85px;
}

.header-title {
    font-size: 1.2em;
    color: #f9faf8;
    font-family: Roboto;
    margin-bottom: 0;
    margin-top: 0;
}

.header-para {
    font-size: 8px;
    font-family: Roboto;
    color: #e5e7eb;
    margin-top: 0;
}

.header-button {
    background-color: #3882f6;
    border-style: none;
    border-radius: 3px;
    width: 65px;
    padding: 4px;
    font-size: 8px;
    color: white;
}

.img-placeholder {
    display: flex;
    justify-content: center;
    background-color: grey;
    margin: 5px;
    margin-right: 100px;
    width: 200px;
    height: 85px;
}

.img-placeholder-text {
    margin-top: 35px;
    font-size: 8px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
}

/*Style for Main Below. */

main {
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    width: 75%;
    margin: auto;
    padding-bottom: 2.5rem;
}

.main-title {
    text-align: center;
    font-family: Bebas Neue;
    font-size: 1.2em;
}

.box-container {
    display: flex;
    flex-direction: row;
    align-self: center;
    width: 65px;
    margin-right: 19rem;
}

.box {
    border-style: solid;
    border-color: #3882f6;
    border-radius: 5px;
    width: 65px;
    height: 65px;
    margin-left: 1.2rem;
}


.main-fig {
    font-size: 7px;
    text-align: center;
    margin-left: 1rem;
    margin-top: 2px;
    font-family: Roboto;
    color: black;
}

/*End Main styles*/

/*Style for Figure Below*/

figure {
    background-color: #e5e7eb;
    display: flex;
    flex-direction: column;
    width: 75%;
    margin: auto;
}

blockquote {
    width: 50%;
    align-self: center;
    margin-bottom: 1.5rem;
    margin-top: 1.5rem;
}

.blockquote-para {
    font-family: Roboto;
    font-size: .8em;
}

.blockquote-fig {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: .8em;
    text-align: end;
}

/*End Figure styles*/

/*Start Aside below*/

aside {
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 75%;
    height: 150px;
    margin: auto;
}

.aside-box {
    display: flex;
    flex-direction: row;
    background-color: #3882f6;
    width: 75%;
    height: 50%;
    margin: 20px;
    
}

.aside-inside-box {
    display: flex;
    flex-direction: column;
}


.aside-title {

}

.aside-para {
    font-size: .4em;
}

.aside-button {
    background-color: #3882f6;
    border-style: solid;
    border-color: #ffffff;
    border-radius: 3px;
    border-width: 1px;
    width: 70px;
    height: 20px;
    padding: 4px;
    font-size: 8px;
    color: white;
}

/*End Aside Styles*/

/*Start Footer Styles*/

footer {
    display: flex;
    justify-content: center;
    width: 75%;
    margin: auto;
    background-color:  rgb(25, 45, 70);
    padding-bottom: .6rem;
    padding-top: .6rem;
}

.footer-title {
    color:rgb(229, 226, 226);
    font-family: Roboto;
    font-size: .1em;

}