body {
    background-color: black;
    display: flex;
    flex-direction: column;
}
header {
    background-color: #1F2937;
    display: flex;
    flex-direction: column;
}

.header-logo-nav-bar {
    display: flex;
    margin-bottom: 1em;
}
.header-main {
    font-size: 1rem;
    font-family: Bebas Neue;
    color: #F9FAF8;
    margin-top: 1em;
    margin-left: 4em;
    margin-bottom: 0;
}

nav {
    font-size: .75rem;
    font-family: Roboto Bold;
    color: #F9FAF8;
}

ul {
    display: flex;
    flex-direction: row;
    margin-left: 600px;
}

li {
    list-style-type: none;
    margin: 5px;

}

.nav-link {
    color:#ffffff;
    text-decoration: none;

}

.nav-link:active {
    color:#3882F6;
}

.header-calltoaction {
    display: flex;
    flex-direction: row;
    margin-top: 0;
}

.calltoaction {
    margin-left: 4em;
    margin-bottom: 4em;
}

h3 {
    font-size: 2rem;
    font-family: Bebas Neue;
    color: #F9FAF8;
   
}

.header-class-three {
    font-size: .75rem;
    font-family: Roboto;
    color: #F9FAF8;
    margin-right: 30em;
}

.header-button {
    font-family: Roboto Bold;
    font-size: .75rem;
    color: #ffffff;
    background-color: #3882F6;
    border-style: none;
    border-radius: 5px;
    padding: .35rem 1.5rem .35rem 1.5rem;
   
}

.header-image {
    margin-right: 3.5em;
}

main {
    background-color: #ffffff;
    font-family: Roboto;
    font-size: .60rem;
    
}

.main-title {
    font-family: Roboto Bold;
    display: block;
    text-align: center;
    font-size: 1.5rem;
    font-family: Bebas Neue;
    margin-top: 1.5em;
    margin-bottom: 1.5em;
}

.main-content {
    display: flex;
    justify-content: space-around;
    margin-bottom: 5em;
}

 .main-img-all {
    border-style: solid;
    border-color: #3882F6;
    border-radius: 5px;
}


.main-content-one {
   margin-left: 135px;
}

.main-fig {
    margin-right: 140px;
    text-align: center;
    font-size: .50rem;
    font-family: Roboto;
}



figure {
    background-color: #E5E7EB;
    font-family: Roboto;
}

figcaption {
    font-family: Roboto Bold;
}

aside {
    background-color: #ffffff;
    padding: 2rem;

}

.aside-box {
    background-color: #3882F6;
   
}

.aside-button {
    font-family: Roboto Bold;
    font-size: .75rem;
    color: #ffffff;
    background-color: #3882F6;
    border-style: solid;
    border-radius: 3px;
    border-color: #ffffff;
    padding: .35rem 1.5rem .35rem 1.5rem;
}

footer {
    font-family: Roboto;
    color: #F9FAF8;
    background-color: #1F2937;
    padding: 5px;
    text-align: center;
}

